@model CV.Web.Models.CompanyModel
<fieldset style="min-width: 700px">
    <legend>Company Info</legend>
    <table class="main">
        <tr>
            <td class="left">Company Name: </td>
            <td id="companyNameCell"><b>@Model.Name</b></td>
        </tr>
        <tr>
            <td class="left">Positions: </td>
            <td id="companyPositionsCell">@Model.Positions</td>
        </tr>
        <tr>
            <td class="left" colspan="2"><img src="~/Content/images/external.png" class="externalimg" /><a target="_blank" href="@Model.Link" id="companyLinkCell">Link</a></td>
        </tr>
        <tr>
            <td class="left">Start Year: </td>
            <td id="companyStartYearCell">@Model.StartDate.ToString("yyyy MMMM")</td>
        </tr>
        <tr>
            <td class="left">End Year: </td>
            <td id="companyEndYearCell">
                @if( Model.EndDate.HasValue)
                {
                    @Model.EndDate.Value.ToString("yyyy MMMM");
                }
                else
                {
                    @Html.Raw("still working");
                }
            </td>
        </tr>
    </table>
</fieldset>
